---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
import { getLatestProducts } from "../lib/wp";

const products = await getLatestProducts({ perPage: 3 });
---

<Layout title="GameHub - Tu ewb sobre videojuegos">
  <section class="container mx-auto px-4 py-12 bg-gray-400">
    <h2>Productos</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {products.map((product) => <ProductCard {...product} />)}
    </div>
  </section>
</Layout>
